.hheader{
  width: auto;
  height: 15vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonHeader{
  background-color: #ba1f1f;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  width: 150px;
  border-radius: 15px;
  border: none;
  margin-right: 1vw;
  padding: 2%;
  cursor: pointer;
}