.bodyOrdensReq{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.ordensReq{
  width: 80vw;
  height: auto;
  padding: 15px;
  border-radius: 30px;
  background-color: #ebe9e9;
  margin-bottom: 15px;
}

.ordensReq h1{
  margin: 15px  0 5px 5%;
}

.filtroForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtroForm input{
  padding: 5px;
  margin: 5px;
  outline: none;
}
.filtroForm button{
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.ordensRequisitadas{
  margin-top: 25px;
  list-style: none;
  border-top: 2px solid #000;
}

.requisicaoC{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.requisicoesOrdem{
  background-color: #eb5c5c;
  font-size: 20px;
  font-weight: 600;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  min-height: 40px;
}

.requisicaoOrdemDescricao{
  word-wrap: break-word;
  font-weight: 600;
  font-weight: normal;
  width: 95%;
  min-height: 50px;
  background-color: #fff;
  padding: 5px;
  text-align: center;
}

.botoesOrdensReq button{
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 25px;
  background-color: #fa3232;
  color: #000;
  margin: 10px 10px 0px;
  border: none;
  cursor: pointer;
}

.botoesOrdensReq :nth-child(2){
  background-color: #6d6969;
}

.botoesOrdensReq button:hover{
  transition: .2s;
  background-color:  #6d6969;
  color: #fff;
}
