.bodyCriarOrdem{
  background-color: #ebe7e7;
  width: 50vw;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  padding: 15px;
}

.formCriaOrdem{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCriaOrdem p{
  font-weight: 600;
  font-size: 20px;
}

.requisitante{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.requisitante label{
  text-align: start;
}

.inputCriarOrdem{
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
}

.inputCriarOrdem::placeholder{
  color: #333;
}

.selectCriaOrdem{
  margin-top: 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  outline: none;
  padding: 5px;
} 

.descricaoReq{
  font-size: 16px;
  outline: none;
  margin-top: 15px;
  width: 90%;
  height: 12vh;
  vertical-align: top;
  padding: 15px;
  resize: none;
}

.descricaoReq::placeholder{
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.ButtonCriarOrdem{
  font-weight: bolder;
  font-size: 16px;
  margin-top: 3vh;
  padding: 6px 15px;
  background-color: #f03d3d;
  color: #1d1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
